# Serial device inside container
SERIAL_PORT=/dev/serial/by-id/usb-YOUR-ADAPTER-ID

# PVOutput
PVOUTPUT_API_KEY=replace_me
PVOUTPUT_SYSTEM_ID=90040

# Home Assistant
HOME_ASSISTANT_URL=http://homeassistant.local:8123
HOME_ASSISTANT_TOKEN=replace_me
HOME_ASSISTANT_ENTITY_ID=sensor.solar_energy
